*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: #333;
    font-size: 16px;
}

html{
    background-color:rgba(244, 244, 244, 1);
}

.navbar {
    position: relative;
    background-color: white;
    color: #263238;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    height: 90px;
    z-index: 1;
  }
  
.navbar-logo a img {
    width: 300px; 
    height: 50px;
  }
  
.navbar-links {
    display: flex;
  }

.navbar-links select{
    border: none;
    background-color:#6E9E76;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: 800;
  }
  
.prev a{
    font-weight: bold;
  }

.navbar-links a {
    color:  #263238;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
  }

.navbar-links a:hover{
    color: red;
    text-decoration: underline; 
  }

.navbar-links:last-child a:nth-child(1){
    color: #fff;
    background-color:#6E9E76;
    padding: 10px;
    border-radius: 10px;
  }

.navbar-links:last-child a:nth-child(4){
  border: 1px solid #f15156;
  padding: 10px;
  border-radius: 10px;
}

.background {
  width: 100vw; /* Width of the viewport */
  height: 70vh; /* 70% of the viewport height */
  background-image: url('images/Rectangle.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  /* display: none; */
}

.background .search-bar{
  position: absolute;
  top: 250px;
  left: 200px;
  width: 930px;
  height: 62px;
  background-color: white;
  border-radius: 10px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.search-bar input{
  height: 40px;
  border: 1.5px solid #6E9E76;
  border-radius: 7px;
  text-align: center;
}

.search-bar input::placeholder{
  font-weight: bold;
  font-size: 0.8em;
}

.search-bar input:nth-child(1){
  width: 230px;
}

.search-bar input:nth-child(2){
  width: 168px;
}

.search-bar input:nth-child(3){
  width: 180px;
}

.search-bar input:nth-child(4){
  width: 187px;
}

.search-bar button{
  width: 80px;
  height: 40px;
  border-radius: 7px;
  background-color: #6E9E76;
  color: white;
  border: none;
  transition: 0.2s ease-in;
}

.search-bar button:hover{
  background-color: #3ca64e;
  cursor: pointer;
}






section.mid{
  width: 90vw;
  /* height: 500px; */
  margin: 0 auto;
  /* background-color: teal; */
}

section.mid p.header-txt{
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Raleway";
  margin-top: 20px;
  margin-left: 100px;
}

section.mid div.cover{
  position: relative;
  /* border: 1px solid black; */
  /* width: 70%; */
  height: 250px;
  margin: 20px auto;
  /* background-color: rgba(110, 158, 118, 0.14); */
  border-radius: 30px;
}

div.holder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  margin: auto;
  background: none;
  /* background-color: black; */
}

.holder .card{
  width: 220px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  /* background-color: rgb(232, 212, 212); */
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 10px 10px;
  transition: 0.3s ease-in-out;
}

.holder .card:hover{
  cursor: pointer;
  transform: translateY(-10px);
  
}

.holder .card img{
  width: calc(100% - 10%);
  margin: 10px auto;
}

.holder .card p{
  font-weight: 600;
}

.holder .card div.prices{
  display: flex;
  flex-direction: column;
}

.holder .card div.prices span.old-p{
  font-size: 0.7em;
  text-decoration: line-through;
  margin: 5px 0;
  color: red;
}

.holder .card div.prices span.new-p{
  font-size: 0.9em;
}




section.offers{
  width: 90vw;
  margin: 0 auto;
}


section.offers p.desc{
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Raleway";
  margin-top: 20px;
  margin-left: 100px;
}

div.cover2{
  position: relative;
  /* width: 70%; */
  height: 250px;
  margin: 20px auto;
  /* background-color: rgba(110, 158, 118, 0.14); */
  border-radius: 30px;
  /* display: none; */
}

div.holder2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  margin: auto;
  background: none;
  /* background-color: black; */
}

.holder2 .card2{
  width: 220px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  /* background-color: rgb(232, 212, 212); */
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 10px;
  transition: 0.3s ease-in-out;
}

.holder2 .card2:hover{
  cursor: pointer;
  transform: translateY(-10px);
  
}

.holder2 .card2 img{
  width: calc(100% - 10%);
  margin: 10px auto;
}

.holder2 .card2 p{
  font-weight: 600;
}






section.hotels{
  width: 90vw;
  /* height: 500px; */
  margin: 0 auto;
}


section.hotels p.descr{
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Raleway";
  margin-top: 20px;
  margin-left: 100px;
}

div.cover3 {
  position: relative;
  /* width: 70%; */
  height: 250px;
  margin: 20px 0;
  border-radius: 30px;
  /* display: none; */
}

div.holder3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  margin: auto;
  background: none;
  /* max-width: 70%; */
  /* background-color: black; */
}


.holder3 .card3 {
  /* width: 200px; */
  /* height: fit-content; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  /* background-color: white; */
  background: none;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  /* padding: 5px; */
  /* overflow: hidden; */
  /* margin: auto; */
}

.holder3 .card3 img {
  width: calc(100% - 20%);
  margin: 10px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.holder3 .card3 p{
  display: inline-block;
  padding: 5px 30px;
  background-color: #ffffff; 
  color: black;
  text-align: center;
  /* text-decoration: none; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  transform: translateY(-20px);
}




section.bottom{
  height: fit-content;
  background-color:rgba(38, 50, 56, 1);
  display: flex;
  flex-direction: column;
}

section.bottom div.cont-holder{
  width: 80%;
  /* border: 1px solid black; */
  margin: 30px auto;
  padding-top: 5px;
}

section.bottom div.cont{
  margin:0 100px;
}


section.bottom .cont p{
  color: white;
  font-weight: 600;
  font-size: 0.9em;
}

div.cont-holder div.cont:nth-child(2){
  margin-top: 25px;
}

.cont span{
  color: white;
  font-size: 0.8em;
}




section.foot{
  width: 100vw;
  height: fit-content;
  /* height: 354px; */
  background-color: #ececec;
  /* padding: 30px auto; */
  display: flex;
  justify-content: center;
  flex-direction: row;
}

section.foot div.something{
  margin: 10px auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  /* border: 1px solid black; */
}

section.foot div.f-cont{
  display: flex;
  flex-direction: column;
  max-width: 245px;
  margin: 10px auto;
}

section.foot div.f-cont p{
  font-size: 1.1em;
  font-weight: bold;
}

section.foot div.f-cont a{
  margin-top: 15px;
  font-size: 0.9em;
  transition: 0.2s ease-in-out;
}

section.foot div.f-cont a:hover{
  text-decoration: underline;
  color: #FF3C42;
  cursor: pointer;
}

section.foot div.last{
  margin: 10px auto;
  align-items: center;
  display: flex;
  max-width: 325px;
  flex-direction: column;
  padding-bottom: 50px;
  /* padding-left: 100px; */
}

section.foot div.last p{
  font-size: 1.5em;
  font-weight: bolder;
  color: #6e9e76;
}


div.last div.in-last{
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
  /* width: 90%; */
}

div.last div.in-last input,
div.last div.in-last button{
  height: 35px;
  /* padding: 10px; */
  /* margin: 0; */
}

div.last div.in-last input{
  width: 230px;
  border: none;
  padding-left: 10px;
  border-radius: 3px 0 0 3px;
  background-color: #f9f9f9;
  font-size: 0.8em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

div.last div.in-last button{
  width: 90px;
  font-size: 0.8em;
  margin-left: -5px;
  border: none;
  border-radius:0 3px 3px  0;
  color: #e6e6e6;
  background-color: #FF3C42;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

div.last div.in-last button:hover{
  background-color: #fa1018;
}

section.foot div.last p:nth-of-type(2){
  /* display: none; */
  font-size: 0.8em;
  color: #263238;
  font-weight: lighter;
  overflow-wrap: break-word;
  text-align: center;
  line-height: 1;
}

footer{
  background-color: white;
  color: #263238;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0px 10px 6px rgba(0, 0, 0, 1.0); */
  padding: 10px 50px;
  height: fit-content;
}

footer p{
  margin: 10px auto;
  font-size: 0.9em;
}

footer .icons img{
  width: 50px;
  height: 50px;
  margin: 0 5px;
}