*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: #333;
    font-size: 16px;
}

.index-body{
  background-color:rgba(244, 244, 244, 1);
}

.navbar {
    position: relative;
    background-color: white;
    color: #263238;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    height: 90px;
    z-index: 1;
  }
  
.navbar-logo a img {
    width: 300px; 
    height: 50px;
  }
  
.navbar-links {
    display: flex;
  }

.navbar-links select{
    border: none;
    background-color:#6E9E76;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: 800;
  }
  
.prev a{
    font-weight: bold;
  }

.navbar-links a {
    color:  #263238;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
  }

.navbar-links a:hover{
    color: red;
    text-decoration: underline; 
  }

.navbar-links:last-child a:nth-child(1){
    color: #fff;
    background-color:#6E9E76;
    padding: 10px;
    border-radius: 10px;
  }

.navbar-links:last-child a:nth-child(4){
  border: 1px solid #f15156;
  padding: 10px;
  border-radius: 10px;
}

.background {
  width: 100vw; 
  height: 70vh; 
  background-image: url('images/Rectangle.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background .search-bar{
  position: absolute;
  top: 250px;
  left: 200px;
  width: 930px;
  height: 62px;
  background-color: white;
  border-radius: 10px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.search-bar input{
  height: 40px;
  border: 1.5px solid #6E9E76;
  border-radius: 7px;
  text-align: center;
}

.search-bar input::placeholder{
  font-weight: bold;
  font-size: 0.8em;
}

.search-bar input:nth-child(1){
  width: 230px;
}

.search-bar input:nth-child(2){
  width: 168px;
}

.search-bar input:nth-child(3){
  width: 180px;
}

.search-bar input:nth-child(4){
  width: 187px;
}

.search-bar button{
  width: 80px;
  height: 40px;
  border-radius: 7px;
  background-color: #6E9E76;
  color: white;
  border: none;
  transition: 0.2s ease-in;
}

.search-bar button:hover{
  background-color: #3ca64e;
  cursor: pointer;
}






section.mid{
  width: 90vw;
  margin: 0 auto;
  position: relative;
}

section.mid p.header-txt{
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Raleway";
  margin-top: 20px;
  margin-left: 100px;
}

section.mid div.cover{
  height: 250px;
  margin: 20px auto;
  border-radius: 30px;
  z-index: 3;
}

div.holder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  margin: auto;
  background: none;
}

section.mid div.backg{
  width: 70%;
  height: 250px;
  background-color:  rgba(110, 158, 118, 0.14);
  position: absolute;
  top: 45px;
  left: 185px;
  z-index: -1;
  border-radius: 30px;
}

section.mid div.backg2{
  width: 70%;
  height: 250px;
  background-color:#fde5e6;
  position: absolute;
  top: 45px; left: 185px;
  z-index: -1;
  border-radius: 30px;
}

.holder .card{
  width: 220px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 10px 10px;
  transition: 0.3s ease-in-out;
}

.holder .card:hover{
  cursor: pointer;
  transform: translateY(-10px);
  
}

.holder .card img{
  width: calc(100% - 10%);
  margin: 10px auto;
}

.holder .card p{
  font-weight: 600;
}

.holder .card div.prices{
  display: flex;
  flex-direction: column;
}

.holder .card div.prices span.old-p{
  font-size: 0.7em;
  text-decoration: line-through;
  margin: 5px 0;
  color: red;
}

.holder .card div.prices span.new-p{
  font-size: 0.9em;
}




section.offers{
  position: relative;
  width: 90vw;
  margin: 0 auto;
}


section.offers p.desc{
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Raleway";
  margin-top: 20px;
  margin-left: 100px;
}

div.cover2{
  position: relative;
  height: 250px;
  margin: 20px auto;
  border-radius: 30px;
}

div.holder2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  margin: auto;
  background: none;
}

section.offers div.backg{
  width: 70%;
  height: 250px;
  background-color:  rgba(110, 158, 118, 0.14);
  position: absolute;
  top: 40px;
  left: 185px;
  z-index: -1;
  border-radius: 30px;
}

.holder2 .card2{
  width: 220px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 10px;
  transition: 0.3s ease-in-out;
}

.holder2 .card2:hover{
  cursor: pointer;
  transform: translateY(-10px);
  
}

.holder2 .card2 img{
  width: calc(100% - 10%);
  margin: 10px auto;
}

.holder2 .card2 p{
  font-weight: 600;
}

section.hotels{
  width: 90vw;
  margin: 10px auto;
  position: relative;
}


section.hotels p.descr{
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Raleway";
  margin: 20px auto;
  margin-left: 100px;
}

div.holder3 {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
  background: 2px solid black;
}

.holder3 .child{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.holder3 .child img{
  width: 216px;
  height: 209px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.holder3 .child img:hover{
  transform: scale(1.1);
}

.holder3 .child p{
  display: inline-block;
  padding: 5px 30px;
  background-color: #ffffff; 
  color: black;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  transform: translateY(-20px);
  transition: 0.3s ease-in-out;
}

.holder3 .child p:hover{
  text-decoration: underline;
  color: #FF3C42;
}

section.hotels div.backg2{
  width: 70%;
  height: 250px;
  background-color:#fde5e6;
  position: absolute;
  top: 45px;
  left: 185px;
  z-index: -1;
  border-radius: 30px;
}

section.bottom{
  height: fit-content;
  background-color:rgba(38, 50, 56, 1);
  display: flex;
  flex-direction: column;
}

section.bottom div.cont-holder{
  width: 70%;
  margin: 30px auto;
  padding-top: 5px;
}

section.bottom div.cont{
  margin:0 90px;
}


section.bottom .cont p{
  color: white;
  font-weight: 600;
  font-size: 0.9em;
}

div.cont-holder div.cont:nth-child(2){
  margin-top: 25px;
}

.cont span{
  color: white;
  font-size: 0.8em;
}




section.foot{
  width: 100vw;
  height: fit-content;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

section.foot div.something{
  margin: 10px auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

section.foot div.f-cont{
  display: flex;
  flex-direction: column;
  max-width: 245px;
  margin: 10px auto;
}

section.foot div.f-cont p{
  font-size: 1.1em;
  font-weight: bold;
}

section.foot div.f-cont a{
  margin-top: 15px;
  font-size: 0.9em;
  transition: 0.2s ease-in-out;
}

section.foot div.f-cont a:hover{
  text-decoration: underline;
  color: #FF3C42;
  cursor: pointer;
}

section.foot div.last{
  margin: 10px auto;
  align-items: center;
  display: flex;
  max-width: 325px;
  flex-direction: column;
  padding-bottom: 50px;
}

section.foot div.last p{
  font-size: 1.5em;
  font-weight: bolder;
  color: #6e9e76;
}


div.last div.in-last{
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
}

div.last div.in-last input,
div.last div.in-last button{
  height: 35px;
}

div.last div.in-last input{
  width: 230px;
  border: none;
  padding-left: 10px;
  border-radius: 3px 0 0 3px;
  background-color: #f9f9f9;
  font-size: 0.8em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

div.last div.in-last button{
  width: 90px;
  font-size: 0.8em;
  margin-left: -5px;
  border: none;
  border-radius:0 3px 3px  0;
  color: #e6e6e6;
  background-color: #FF3C42;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

div.last div.in-last button:hover{
  background-color: #fa1018;
}

section.foot div.last p:nth-of-type(2){
  font-size: 0.8em;
  color: #263238;
  font-weight: lighter;
  overflow-wrap: break-word;
  text-align: center;
  line-height: 1;
}

footer{
  background-color: white;
  color: #263238;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  height: fit-content;
}

footer p{
  margin: 10px auto;
  font-size: 0.9em;
}

footer .icons img{
  width: 50px;
  height: 50px;
  margin: 0 5px;
}




/* -----------booking page css------------ */

.booking-body{
  background-color: #fff;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.b-nav {
  position: relative;
  background-color: white;
  color: #263238;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
  padding: 10px 30px;
  height: 90px;
  /* z-index: 1; */
}

.b-nav-logo a img {
  width: 290px; 
  height: 45px;
  /* display: none; */
}

.prev a{
  font-weight: 400;
}

.prev a:nth-child(1){
  color: black;
} 
 
.b-nav-links a {
  color:  #263238;
  text-decoration: none;
  margin-right: 10px;
  transition: 0.2s ease-in-out;
}


.b-nav-links a:hover{
  color: red;
  text-decoration: underline; 
}


.b-nav-links:last-child a:nth-child(5){
  background-color: #92E3A9;
  padding: 5px 10px;
  font-size: 0.9em;
  border-radius: 5px;
  font-weight: 500;
}

.b-nav-links:last-child a:nth-child(5):hover{
  background-color: #5eda81;
  color: white;
  text-decoration: none;
}

.bk-sum{
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.bk-sum p{
  font-size: 2.5em;
  font-weight: bold;
}

section.booking{
  /* width: 1030px; */
  /* height: 563px; */
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: row; */
  /* margin: 0 auto; */
  /* padding: 10px auto; */
}

.booking .main{
  /* width: 553px; */
  /* height: fit-content; */
  /* margin: auto; */
  /* padding: 10px 20px; */
  /*border: 1px solid black;  remove this later */
}

.main:nth-of-type(1){
  border: 1px solid #ABAAAA;
  border-radius: 10px;
  padding: 10px 20px;
  width: fit-content;
  /* height: 550px; */
  /* margin-top: -3px; */
}

.main .someone{
  margin: 20px 0;
  font-weight: bold;
}

.main .info{
  font-size: 1.8em;
  font-weight: 600;
  margin: 20px 0;
}

.main .names{
  display: flex;
  /* flex-direction: row; */
}

.main .names label{
  /* margin: 5px 0; */
  /* font-weight: 600; */
  font-size: 1.1em;
}

.main .names input{
  width: 200px;
  height: 40px;
  margin: 15px 20px;
  padding: 0 10px;
  border-radius: 7px;
  border: 1px solid #263238;
}

.main .names input:nth-of-type(1){
  margin-left: 0;
}


.main .email{
  display: flex;
  flex-direction: column; 
}

.main .email label{
  margin: 5px 0;
  font-size: 1em;
}

.main .email input{
  height: 40px;
  width: 420px;
  border-radius: 7px;
  margin: 5px 0 15px 0;
  padding-left: 10px;
  border: 1px solid #263238;
}

/* second main */
.main:nth-of-type(2){
  /* display: none; */
  border-radius: 10px 10px 0 0;
  /* width: 409px; */
  /* width: 500px; */
  /* height: 555px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.main:nth-of-type(2) img{
  width: 100%;
  /* height: fit-content; */
  /* margin: 0; */
  border-radius: 10px 10px 0 0;
}

.arrange{
  /* width: 373px; */
  /* height: 380px; */
  align-items: center;
  justify-content: center;
  /* border: 1px dotted black; */
}

.tranC{
  font-size: 1.8em;
  font-weight: 600;
  margin: 10px 20px;
}

.addr{
  margin: 10px 20px;
  font-size: 0.9em;
}

.type{
  margin: 5px 20px;
  font-size: 1.1em;
}

.rooms{
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
  justify-content: space-evenly; /* check this part later */
}

.rooms p{
  font-size: 1.1em;
}

.line{
  border-bottom: 2px solid #263238;
  width: 80%;
  margin: 15px auto;
}

.check{
  display: flex;
  margin: 5px 0;
  justify-content: space-evenly;
}

.check:nth-of-type(2){
  /* display: none; */
  font-weight: bold;
}

.total{
  padding: 15px;
  background-color: #263238;
  border-radius: 5px;
  height: 50px;
  color: white;
  width: fit-content;
  margin: 20px auto;
  transition: 0.2s ease-in-out;
}

.total:hover{
  background-color: #41555f;
  cursor: pointer;
}

main{
  margin: 20px 0 auto;
}


.main-child h1{
  font-size: 1.8em;
}

.hold-rad{
  padding: 7px 0 7px 20px;
  background-color: rgba(191, 191, 191, 0.3);
  border-radius: 5px;
}

.hold-rad input{
  width: 20px;
  height: 20px;
}

.hold-rad label{
  font-size: 1.2em;
}

.hold-rad p{
  margin: 7px 0 0 25px;
  font-size: 1em;
}

.main-child span{
  margin: 3px 0;
}


/* HOTEL DETAILS PAGE STYLING */
.hsearch-bar{
  position: absolute;
  top: 120px;
  left: 200px;
  width: 930px;
  height: 62px;
  background-color: white;
  border-radius: 10px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}

.hsearch-bar input{
  height: 40px;
  border: 1.5px solid #6E9E76;
  border-radius: 7px;
  text-align: center;
}

.hsearch-bar input::placeholder{
  font-weight: bold;
  font-size: 0.8em;
}

.hsearch-bar input:nth-child(1){
  width: 230px;
}

.hsearch-bar input:nth-child(2){
  width: 168px;
}

.hsearch-bar input:nth-child(3){
  width: 180px;
}

.hsearch-bar input:nth-child(4){
  width: 187px;
}

.hsearch-bar button{
  width: 80px;
  height: 40px;
  border-radius: 7px;
  background-color: #6E9E76;
  color: white;
  border: none;
  transition: 0.2s ease-in;
}

.hsearch-bar button:hover{
  background-color: #3ca64e;
  cursor: pointer;
}
